
.ftp {
    width: 100%;
    height: 100%;
    background-color: white;

	& .ftp-head {
		height: 30px;
		padding-left: 30px;

	}

	& .ftp-container {
		display: flex;
		align-items: center;
		gap: 30px;
		flex-wrap: wrap;

	}

	& .ftp-item {
		border: 1px solid #cccccc;

		& .sample, &.add {
			width: 200px;
			height: 100px;
			cursor: pointer;

			display: flex;
			align-items: center;
			justify-content: center;
		}
		& .info {
			font-size: 12px;
		}
	}
}
