
.ftp {
	--ftp-head-height: 40px;
    width: calc(100% - 5px);
    height: calc(100% - 30px);

	& .ftp-head {
		height: var(--ftp-head-height);
		padding-left: 30px;
		border-bottom: 1px solid #ccc;

		display: flex;
		align-items: center;

		& .path {
			max-width: 500px;
			overflow-x: hidden;
		}

		& .btns {
			margin-left: 30px;
			height: 70%;

			display: flex;
			align-items: center;
			gap: 5px;

			& > span {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 100%;

				cursor: pointer;

				&:after {
					content: '';
					border: 1px solid #cccccc;
					margin-left: 5px;
					height: 100%;
				}
			}
		}
	}

	& .ftp-container {
		position: relative;
		max-height: calc(100% - 50px);
		width: calc(100% - 200px);
		padding-top: 20px;
		padding-left: 100px;
		padding-right: 100px;
		overflow-y: scroll;

		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		gap: 30px;
		column-gap: 60px;

	}

	& .ftp-item {
		width: 100%;
		border: 1px solid #cccccc;

		& .sample {
			width: 100%;
			height: 200px;
			cursor: pointer;
			position: relative;

			display: flex;
			align-items: center;
			justify-content: center;

			& .more-actions {
				position: absolute;
				right: -68px;
				top: 6px;

				display: flex;

				& > div {
					border: 1px solid #ccc;
					border-radius: 5px;
					background-color: white;
					height: 100%;
					position: relative;
				}

				& .action-list {
					left: -15px;
					padding: 5px 10px;

					& > div {
						cursor: pointer;
						&:not(:last-child) {
							margin-bottom: 4px;
						}
					}
				}
				&::before{
					display: block;
					content: '';
					width: 10px;
					height: 10px;
					position: relative;
					border-top: 1px solid #ccc;
					border-left: 1px solid #ccc;
					background-color: white;
					transform: rotate(45deg);
					top: -6px;
					left: 9px;
					z-index: 1;
				}

				& .dirs-container {
					display: flex;
					z-index: 1000;

					& > div:not(:last-child) {
						border-right: 1px solid #ccc;
					}
				}

				& .dir-list {
					list-style: none;
					margin: 0;
					padding: 10px;

					& > li {
						cursor: pointer;
					}

					& > li.active {
						color: blue;
						font-weight: bold;

					}
					& > li:not(:last-child) {
						margin-bottom: 5px;
					}
				}
			}
		}
		& .info {
			width: 100%;
			z-index: 100;
			height: 22px;
			border-bottom: 1px solid #cccccc;
			font-size: 16px;
			white-space: nowrap;

			& label {
				overflow: hidden;
				margin-right: 10px;
			}
		}

		& .info:not(.uploading) {
			display: flex;
			justify-content: space-between;
			box-sizing: border-box;

			& .name {
				width: calc(100% - 20px);
				overflow: hidden;
				text-overflow: ellipsis;

				& > label {
					display: flex;
				}
			}

			& > .icon {
				width: 20px;
				cursor: pointer;
			}
		}
	}

	& .file-upload-progress {
		width: 100%;
		height: 100%;
		
		display: flex;
		align-items: center;
		justify-content: center;

		& .overlay {
			height: 100%;
			width: 100%;
			background-color: #cccccc;

			display: flex;
			align-items: center;
			justify-content: center;

			& .progress-bg {
				width: 100px;
				height: 100px;
				background-color: white;
				border-radius: 50%;

				position: relative;

				&::before {
					content: attr(data-left);
					width: calc(100% - 2px);
					height: calc(100% - 2px);
					border-radius: 50%;
					/*background-color: #cccccc;*/
					display: flex;
					align-items: center;
					justify-content: center;

					position: absolute;
					top: 1px;
					left: 1px;

					background: conic-gradient(white calc(var(--progress) * 1%), #ccc 0);
					transform-origin: center; /* 以圆心为中心旋转 */
				}
			}
		}
	}

	& .image-preview {
		height: 100%;
		width: 100%;

		position: fixed;
		top: 0;
		left: 0;

		& .container {
			background-color: black;
			position: relative;
			top: 0;
			left: 0;

			& .image-body {
				width: 100%;
				height: 100%;
				overflow-y: auto;

				& > div {
					display: flex;
					align-items: center;
					flex-direction: column;
				}

				& img {
					width: 100%;

					@media screen and (min-width: 768px) {
						width: 80%;
					}

					@media screen and (min-width: 1200px) {
						width: 60%;
					}
				}

				& .btn-area {
					&.image-prev {
						top: 0;
						left: 0;
					}
					&.image-next {
						top: 0;
						right: 0;
					}
				}
			}
		}

		& .close-btn {
			position: fixed;
			right: 30px;
			top: 30px;
			z-index: 1000;
		}
	}

}


.sub-dirs {
	width: 1000px;
	margin-bottom: 10px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	grid-gap: 10px;

	& > .sub-dir-item {
		height: 30px;
		border: 1px solid #cccccc;
		border-radius: 5px;
		padding-left: 3px;

		display: flex;
		align-items: center;
		justify-content: space-between;

		cursor: pointer;
		text-wrap: nowrap;
		overflow: hidden;

		&.active {
			border-color: #4dbbff;
			background-color: #4dbbff;
			font-weight: bold;
			color: white;
		}
	}

	&:not(:first-child) {
		padding-top: 10px;
		border-top: 1px solid #cccccc;
	}
}

.add-file-modal {
	width: 500px;

	& .radios {
		display: flex;
		gap: 20px;
		border-bottom: 1px solid #cccccc;
		padding-bottom: 5px;

		& > label {
			cursor: pointer;
		}

		& input {
			cursor: pointer;
		}
	}

	& .file-input-container {
		padding-top: 10px;
		width: 100%;

		& .file-input {
			width: 100%;
			display: none;

			& .progress {
				box-sizing: border-box;
				width: 100%;
				height: 20px;
				border-radius: 10px;
				border: 1px solid #cccccc;
				position: relative;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				margin-top: 10px;

				& .progress-bg {
					height: 100%;
					border-radius: 10px;
					align-items: center;
					justify-content: center;
					background-color: green;

					transition: width 2s ease;
				}

				& .progress-text {
					width: 100%;
					height: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
				}

				& > div {
					position: absolute;
					top: 0;
					left: 0;
				}

			}
		}

		& .fold-input {
			width: 100%;
			display: none;

			& input {
				box-sizing: border-box;
				width: 100%;
			}
		}

		& .download-input {
			display: none;

			& textarea {
				width: 100%;
				height: 50px;
				resize: none;
				box-sizing: border-box;
				border-radius: 10px;
			}
		}

		& .download-plan-input {
			display: none;

			& > div {
				width: 100%;
				box-sizing: border-box;

				&:first-child {
					display: flex;
					border-bottom: 1px solid #cccccc;
					padding-bottom: 10px;
					margin-bottom: 10px;

					& > input {
						width: 100%;
						box-sizing: border-box;
					}
				}

				& > textarea{
					width: 100%;
					box-sizing: border-box;
					resize: none;
				}
			}

			& .magnet-list {
				margin-top: 5px;
				padding-top: 5px;
				border-top: 1px solid #cccccc;

				& > div {
					width: 100%;
					overflow: hidden;
					box-sizing: border-box;
				}
			}
		}
	}
}

.rename-all-container {
	min-width: 1000px;
	max-width: 1500px;
	max-height: 500px;
	overflow-y: scroll;

	& .find, & .replace {
		display: grid;
		grid-template-columns: 1fr 100px;
		margin-bottom: 10px;

		& input {
			height: 30px;
		}
	}

	& table {
		width: 100%;
		border-collapse: collapse;
		border-spacing: 0;

		& textarea {
			width: 100%;
			box-sizing: border-box;
		}

		& th {
			width: 50%;
		}

		& th, & td {
			border: 1px solid #ccc;
		}
	}
}
