/* message.css */

#global-message-container {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 9999;
}

.msg-item {
    background: rgba(0, 0, 0, 0.85);
    color: #fff;
    padding: 10px 16px;
    border-radius: 6px;
    min-width: 120px;
    max-width: 260px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    transition: 0.3s;

    &.info {
        background: rgba(50, 150, 250, 0.9);
    }

    &.success {
        background: rgba(40, 180, 60, 0.9);
    }

    &.warning {
        background: rgba(250, 160, 20, 0.9);
    }

    &.error {
        background: rgba(230, 50, 60, 0.9);
    }

}

.msg-item.fade {
    opacity: 0;
    transform: translateY(-10px);
}
