.modal {
	height: 100%;
	width: 100%;
	position: absolute;
	background-color: rgba(67, 67, 67, 0.88);
	top: 0;
	left: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	& > .modal-content {
		background: white;
		border-radius: 8px;

		& > .modal-head {
			border-bottom: 1px solid #cccccc;
			padding: 10px 5px;
		}

		& > .modal-body {
			padding: 10px 5px;
		}

		& > .modal-foot {
			display: flex;
			justify-content: flex-end;

			border-top: 1px solid #cccccc;
			padding: 10px 5px;

			& > button:last-child {
				margin-left: 5px;
			}
		}
	}
}
