.note-main {
    display: flex;
    height: 100%;
    width: 100%;
}

.note-main .note-navs .note-navs-list {
    height: calc(100% - 50px);
    overflow-y: scroll;
}

.note-main .note-navs {
    width: 250px;
    height: 100%;
    position: relative;
}

.note-main .note-navs .note-navs-create {
    position: absolute;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
    bottom: 0;
    right: 0;
    left: 0;

    & > input[type="text"] {
        border-style: none;
        outline: none;
        height: 1.2em;
        font-size: 16px;

        border-left: 3px solid black;
    }
}


.note-content-main {
    --item-font-size: 1.3em;
    --content-top: 30px;
    width: 100%;
    height: calc(100% - var(--content-top));
    margin-right: 10px;
    padding-left: 70px;
    padding-top: var(--content-top);
    font-size: var(--item-font-size);

    & .note-content-head-title {
        font-size: 2.5em;
        font-weight: bold;
        margin-bottom: 20px;
        height: 70px;
    }

    & .note-content-list {
        padding-left: 20px;
        max-height: calc(100% - 130px - var(--content-top));
        box-sizing: border-box;
        overflow-y: scroll;
    }

    & input {
        font-size: var(--item-font-size);
    }

    & > input[name="note-input"] {
        border-style: none;
        width: 100%;
        outline-style: none;
    }

    & .note-content-list-item {

        &.has-margin {
            margin-top: 30px;
        }
    }

    & .item-1 {
        /* _page_ */
        font-size: 1.3em;
    }

    & .item-2 table {
        /* _table_ */
        border-collapse: collapse;
        border-spacing: 0;

        & tr {
            min-height: 50px;
        }

        & th, td {
            border: 1px solid #c3c3c3c3;
            padding: 3px 5px;
            position: relative;
            min-width: 200px;
        }

        & div.edit-div{
            border-style: none;
            outline-style: none;

            &:focus {
                border-style: none;
                outline-style: none;
            }
        }

        & input[type="text"] {
            /*width: 200px;*/
            outline-style: none;
            border-style: none;
        }

        & th > input[type="text"] {
            text-align: center;
        }

        & th > .table-field-option {
            position: absolute;
            display: flex;
            background-color: #cccccc55;
            align-items: center;
            justify-content: center;
            padding-left: 3px;
            padding-right: 3px;
            opacity: 0;
            cursor: pointer;

            &.add-before {
                height: 100%;
                top: 0;
                left: 0;
            }

            &.add-after {
                height: 100%;
                top: 0;
                right: 0;
            }

            &.del {
                height: 20px;
                width: 50%;
                margin-left: 25%;
                left: 0;
                right: 0;
                top: -20px;
            }
        }

        & th:hover > .table-field-option {
            opacity: 1;
        }
    }

    & .item-3 {
        /* _todo_ */
        display: flex;
        align-items: center;

        & input[type="checkbox"] {
            width: 20px;
            height: 20px;
        }

        & input[type="text"] {
            width: 100%;
            outline-style: none;
            border-style: none;
        }
    }

    & .item-9999 {
        /* _text_ */
    }

    & > input[name="note-input"] {
        margin-top: 20px;
    }
}