body {
    display: block;
    margin: 0;
}

.navs {
    height: 100%;
    overflow-y: scroll;
    width: 200px;

    &::-webkit-scrollbar {
        display: none;
    }

    & ul {
        width: 100%;
        max-height: 100%;
        list-style: none;
    }
}

.container {
    max-height: 100%;
    width: calc(100% - 200px);
}